<sly
   data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"
   data-sly-call="${clientlib.css @ categories='etc.designs.sampleaem.content.featuredTile.clientlibs'}" />
<sly data-sly-use.featuredTile="${'org.myproject.sampleaem.core.components.FeatureTileComponent'}">

      <section class="row">
         <div class="small-12 columns">
            <ul class="featuredTileGrid row">
               <sly data-sly-list.eachTile="${featuredTile.featureTiles}">
                  <li class="featuredTileItem small-12 medium-6 large-4 columns">
                     <article class="featuredTileArticle color--solutions">
						<div class="titleContainer">
<a href="${eachTile.linkUrl}" target="${eachTile.linkTarget?'_blank':'_self'}">
                           <div class="featuredTileImage">
                           <img src="${eachTile.image @ context='html'}/jcr:content/renditions/cq5dam.web.1280.1280.jpeg"/></div>

						<div data-sly-test = "${eachTile.title != null && eachTile.title != ''}" data-sly-unwrap>
						<h2 class="featuredTileTitle">${eachTile.title}</h2>
						</div>

						<div data-sly-test = "${eachTile.description != null && eachTile.description != ''}" data-sly-unwrap>
						${eachTile.description @ context ='html'}
						</div>
                        <span data-sly-test = "${eachTile.linkTitle != null && eachTile.linkTitle != ''}">${eachTile.linkTitle}</span></a>
 </div>
                     </article>
                  </li>
               </sly>
            </ul>
         </div>
      </section>
   
</sly>

